.promo {
  position: relative;

  width: 100%;
  min-width: 980px;
  height: 660px;
  margin-bottom: 80px;

  font-family: $font-stack;

  @include wrapper;
}

.promo__about {
  position: relative;
  z-index: 4;

  min-width: 960px;
  padding-top: 160px;
  padding-left: 20px;

  @include container;
}

.promo__heading {
  position: relative;

  width: 350px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-weight: 300;
  font-size: 3.125em;
  line-height: 1.1;
  color: $font-color-light;

  & b {
    font-weight: 700;
  }

  &::before {
    content: "";
    position: absolute;
    top: 70px;
    left: -120px;

    width: 80px;
    height: 10px;

    background-color: #ff4b64;
    border-radius: 5px;

    @media (max-width: 1500px) {
      top: -45px;
      left: 20px;
    }
  }
}

.promo__subheading {
  width: 350px;
  margin: 0;
  margin-bottom: 55px;
  padding: 0;

  font-weight: 500;
  font-size: 0.875em;
  line-height: 1.2;
  color: #ffffff;
}

.promo__btn {
  width: 205px;
  height: 60px;

  font-weight: 700;
  font-size: 0.875em;
  line-height: 2;
  font-family: inherit;
  color: #9ecb45;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  word-spacing: 0.15em;

  border-radius: 30px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -70px;

    width: 40px;
    height: 10px;

    background-color: #ffca2a;
    border-radius: 5px;
    transform: translateY(-50%);
  }
}

.promo__left {
  position: absolute;
  top: 0;
  z-index: 2;

  width: 44%;
  height: 660px;

  background: #9ecb45;

  clip-path: polygon(0 0, 89% 8%, 100% 92%, 0 100%);
}

.promo__right {
  position: absolute;
  top: 0;
  left: 39%;

  width: 61%;
  height: 660px;
  overflow-y: hidden;

  clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 87%);


  & img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

